---
layout: page
---
<link rel="stylesheet" href="/js/prettify/prettify.css" />
<div class="entry">
    {{ content }}
    <!--如果您觉得有帮助，就尽情分享或者<a href="/about" target="_blank">关注我吧</a>：<br/>-->
    <!--<a href='http://me.alipay.com/beiyuu' target="_blank" style="float:left;"><img src='https://img.alipay.com/sys/personalprod/style/mc/btn-index.png' style="display:inline" /></a>-->
    <!--<div style="float:left;width:160px;">-->
    <!--<iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1855270953&verifier=375b89d6&colors=d6f3f7,F8F8F0,666666,0082cb,ecfbfd&dpc=1"></iframe>-->
    <!--</div>-->
    <!--<div id="jiathis_style_32x32" style="float:left;margin-left:20px;margin-top:35px;">-->
        <!--<a class="jiathis_button_tsina"></a>-->
        <!--<a class="jiathis_button_douban"></a>-->
        <!--<a class="jiathis_button_tqq"></a>-->
        <!--<a class="jiathis_button_renren"></a>-->
        <!--<a class="jiathis_button_douban9dian"></a>-->
        <!--<a class="jiathis_button_readitlater"></a>-->
        <!--<a class="jiathis_button_instapaper"></a>-->
        <!--<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>-->
        <!--<a class="jiathis_counter_style"></a>-->
    <!--</div>-->
    <div style="clear:both"></div>
</div><!-- .entry -->
<div id="disqus_container"> 
    <!--<a href="#" class="comment" onclick="return
    false;">点击查看评论</a>-->
    <div id="disqus_thread">
    <!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1729830" async=""></script>
    </div>
    <!-- UY END -->
</div> 
